#### Problem 1: 
**You are given a list: [10, 15, 20, 25, 15, 30, 20, 40]. Your task is to convert this list into a set to remove duplicate elements.**

In [1]:
List = [10, 15, 20, 25, 15, 30, 20, 40]

set(List)

{10, 15, 20, 25, 30, 40}

#### Problem 2: 
**You have a set {5, 10, 15, 20}. Add the number 25 to the set. Then display the updated set.**

In [2]:
Set = {5, 10, 15, 20}

Set.add(25)

Set

{5, 10, 15, 20, 25}

#### Problem 3: 
**You are given a set {50, 60, 70, 80, 90}. Remove the number 70 from the set.**

In [3]:
Set = {50, 60, 70, 80, 90}

Set.remove(70)

Set

{50, 60, 80, 90}

#### Problem 4: 
**You are given two sets:**
1. set_a = {1, 2, 3, 4, 5}
2. set_b = {4, 5, 6, 7, 8}

**Perform a union of these two sets to combine all unique elements. Then display the resulting set.**

In [4]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

print(set_a.union(set_b))          # Union         

print(set_a | set_b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

#### Problem 5:

**You are given two sets:**
1. set_a = {10, 20, 30, 40, 50}
2. set_b = {30, 40, 50, 60, 70}

**Find the intersection of these sets to get only the common elements. Then display the resulting set.**

In [5]:
set_a = {10, 20, 30, 40, 50}
set_b = {30, 40, 50, 60, 70}


print(set_a.intersection(set_b))             # Common Element

print(set_a & set_b)

{40, 50, 30}
{40, 50, 30}