#### Problem 1: 
**You have a nested tuple nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9)). Slice the second tuple (at index 1) and then extract the element at index 2 from it.**

In [1]:
# Define the nested tuple

nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

nested_tuple[1][2]

6

#### Problem 2: 
**You have a nested list nested_list = [["a", "b", "c"], [1, 2, 3], ["x", "y", "z"]]. Slice the second list (at index 1) and extract the element at index 2.**

In [2]:
# Define the nested list

nested_list = [["a", "b", "c"], [1, 2, 3], ["x", "y", "z"]]

nested_list[1][2]

3

#### Problem 3: 
**You have a list numbers = [10, 20, 30, 40, 50]. Slice the last three elements using negative indices.**

In [3]:
# Define the list

numbers = [10, 20, 30, 40, 50]

numbers[-3:]

[30, 40, 50]

#### Problem 4: 
**You have a list numbers = [10, 20, 30, 40, 50, 60]. Slice the list to extract every second element starting from index 1 and ending at index 5.**

In [4]:
# Define the list

numbers = [10, 20, 30, 40, 50, 60]

numbers[1:5:2]

[20, 40]

#### Problem 5: 
**You have a list fruits = ["apple", "banana", "cherry"]. Add "orange" to the list using the append() method.**

In [6]:
# Define the list

fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

fruits

['apple', 'banana', 'cherry', 'orange']

#### Problem 6: 
**You have a list fruits = ["apple", "banana", "cherry", "orange"]. Remove "banana" from the list using the remove() method.**

In [8]:
# Define the list

fruits = ["apple", "banana", "cherry", "orange"]

fruits.remove("banana")

fruits

['apple', 'cherry', 'orange']